* {
    margin: 0;
}

body {
    color: #272822;
    background-color: #fff;
    font-family: "Open Sans", "Times New Roman", sans-serif;
}

.cabecalho {
    height: 100px;
    width: 100%;
    display: inline-block;
    background-color: #2ea8e7;
}

.foto {
    margin-left: 12%;
    background-color: #aaa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.nome {
    color: #ffffff;
    float: right;
    margin-right: 12%;
    font: italic bold 37px Corrier;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.todos-titulos {
    font: bold 20px Sans;
    color: #2ea8e7;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.linha {
    clear: both;
    display: inline-grid;
    margin-top: 30px;
}

main {
    width: 39%;
    border-radius: 20px;
    margin: 10% 3% 3% 12%;
    border-right: solid 4px #2ea8e7;
}

.section-espaco {
    margin-bottom: 25px;
}

.habilidades dl dt {
    clear: left;
    display: inline;
    float: left;
    margin: 10px 15px 10px 0;
}

.habilidades dl dd {
    background: #3f433f;
    color: #ffffff;
    float: left;
    border-radius: 5px;
    margin: 6px 3px;
    padding: 4px;
}

.habilidades dl dd:hover {
    background-color: #2ea8e7;
    color: #3f433f;
}

aside {
    width: 30%;
    margin-right: 50px;
}

aside img {
    border-radius: 20%;
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0;
    float: left;
}

aside p {
    font: 16px Sans;
    margin: 17px;
    text-align: left;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #3f433f;
}

a:hover {
    text-decoration: none;
    color: #2ea8e7;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #2ea8e7;
    text-align: center;
    color: #ffffff;
    font: italic bold 19px Corrier;
}

.direitos {
    padding-top: 20px;
}

.redes-sociais img {
    margin: 0 6px 0 6px;
    width: 25px;
    height: 25px;
}